numpy==1.24.4
opencv_python_headless==4.10.0.84
pandas==2.0.3
roboflow==1.1.51
supervision==0.26.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
transformers==4.46.3
ultralytics==8.3.67